<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Alice.jacksonandalice.com </title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href=" {% static 'css/plugins.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> <!-- FOR DARK MODE: Add class "dark" Example: <body class="dark">  FOR RTL MODE: Add class "rtl" Example: <body class="rtl"> -->
	
	<!-- PRELOADER -->
	<div class="waxon_tm_preloader">
		<div class="spinner_wrap">
			<div class="spinner"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

<!-- WRAPPER ALL -->

	<!-- MAGIC CURSOR VALUES: show, hide -->
	
<div class="waxon_tm_all_wrap" data-magic-cursor="show">
	
	<!-- SETTINGS -->
	<!-- <div class="waxon_tm_settings">
		<div class="icon">
			<img class="svg" src="{% static 'img/svg/setting.svg' %}" alt="" />
			<a class="link" href="#"></a>
		</div>
		<div class="wrapper">
			<span class="title">Unlimited Colors</span>
			<ul class="colors">
				<li><a href="#" data-color="#4169e1"></a></li>
				<li><a href="#" data-color="#66B95C"></a></li>
				<li><a href="#" data-color="#ff9800"></a></li>
				<li><a href="#" data-color="#ff5e94"></a></li>
				<li><a href="#" data-color="#fa5b0f"></a></li>
				<li><a href="#" data-color="#f39977"></a></li>
				<li><a href="#" data-color="#9200ee"></a></li>
				<li><a href="#" data-color="#00D4BD"></a></li>
				<li><a href="#" data-color="#5e9e9f"></a></li>
				<li><a href="#" data-color="#EB4A4C"></a></li>
				<li><a href="#" data-color="#666d41"></a></li>
				<li><a href="#" data-color="#fe0000"></a></li>
			</ul>
			<span class="title">Magic Cursor</span>
			<ul class="cursor">
				<li><a class="showme show" href="#"></a></li>
				<li><a class="hide" href="#"><img class="svg" src="{% static 'img/svg/arrow.svg' %}" alt="" /></a></li>
			</ul>
		</div>
	</div> -->
	<!-- /SETTINGS -->
	
	<!-- TOPBAR -->
	<div class="waxon_tm_topbar home">
		<div class="container">
			<div class="topbar_inner">
				<div class="logo">
					<!-- <a href="#">
						<img src="img/logo/dark.png" alt="" />
					</a> -->
				</div>
				<div class="menu">
					<div class="links">
						<ul class="anchor_nav">
							<li class="current">
								<a href="#home">
									<span class="first">Home</span>
									<span class="second">Home</span>	
								</a>
							</li>
							<li>
								<a href="#about">
									<span class="first">About</span>
									<span class="second">About</span>	
								</a>
							</li>
							<li>
								<a href="#portfolio">
									<span class="first">My work</span>
									<span class="second">My work</span>	
								</a>
							</li>
							<li>
								<a href="#publications">
									<span class="first">Publications</span>
									<span class="second">Publications</span>	
								</a>
							</li>
							<li>
								<a href="#awards">
									<span class="first">Awards</span>
									<span class="second">Awards</span>	
								</a>
							</li>
							<li>
								<a href="#blog">
									<span class="first">Blog</span>
									<span class="second">Blog</span>	
								</a>
							</li>
							<li>
								<a href="#contact">
									<span class="first">Get In Touch</span>
									<span class="second">Get In Touch</span>	
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /TOPBAR -->
	
	<!-- MOBILE MENU -->
	<div class="waxon_tm_mobile_menu">
		<div class="topbar_inner">
			<div class="container bigger">
				<div class="topbar_in">
					<div class="logo">
						<!-- <a href="#"><img src="img/logo/dark.png" alt="" /></a> -->
					</div>
					<div class="my_trigger">
						<div class="hamburger hamburger--collapse-r">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<div class="container">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#portfolio">My work</a></li>
						<li><a href="#publications">Publications</a></li>
						<li><a href="#awards">Awards</a></li>
						<li><a href="#blog">Blog</a></li>
						<li><a href="#contact">Get In Touch</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->

	<!-- HERO -->
	<div class="waxon_tm_hero" id="home">
		<div class="background" style="padding-top: 5%;">
			<div class="leftpart"></div>
			<div class="rightpart">
				<div class="inner">
					<div class="image" data-img-url="{% static 'img/slider/Alice.png' %}"></div>
					<div class="overlay_image"></div>
					<div class="myOverlay"></div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="content_inner">
					<div class="name" style="padding-right:50%;"> <!-- If you can't see clearly your texts with hero image, please open style.css and search this word " .waxon_tm_hero .background .overlay_image " with CTRL+F and enable comment -->
						<h3 style="font-family: Anthemia Feminine Serif ;">Alice Akor</h3>
						<span>Social Worker| Educator| Family Life Practitioner</span>
					</div>
				</div>
				<div class="waxon_tm_down" data-skin="dark" data-position="">  <!-- Skin: "", dark -->  <!-- Position: left, center, right -->
					<div class="line_wrapper">
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /HERO -->
	
	<!-- ABOUT -->
	<div class="waxon_tm_about" id="about">
		<div class="container">
			<div class="about_inner">
				<div class="left">
					<img class="thumbnail" src="{% static 'img/about/Alice.png' %}" alt="" />  <!-- Animation Image classes: thumbnail, thumbnail-2, thumbnail-3, thumbnail-4,-->
				</div>
				<div class="right">
					<div class="name">
						<h3>About Me</h3>
						<!-- <span class="job">Everything rises and falls on the family</span> -->
					</div>
					<div class="text">
						<p>Hello, I am Alice, a dedicated social worker,educator and family life practitioner with over a decade of experience supporting children, teenagers, and families across Africa.</p>
						<p>My mission is to empower young individuals to discover their purpose and identity, enabling them to maximize their full potential and overcome limiting beliefs and mental health challenges. Additionally, I am passionate about helping families recognize and embrace their responsibilities and the profound impact they have on one another and the world.</p>
						<p> My work has successfully guided numerous children and teens toward personal growth and resilience, and has strengthened family units, fostering environments of mutual understanding and support.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ABOUT -->
	
	<!-- SERVICES -->
	<div class="waxon_tm_service" style="margin-top: -15%;">
		<div class="container">
			<div style="padding-bottom: 2%;font-weight: bold;">My professional interests lie within the following areas:</div>
			<div class="service_inner">
				<ul class="owl-carousel" style="list-style: circle;">
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Trauma Informed care</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Adolescent counselling and Coaching</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Child abuse and neglect</p></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="service_inner">
				<ul class="owl-carousel" style="list-style: circle;">
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Behaviour Therapy</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Family life</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Values and Virtue education</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Character Development and Purpose Education</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Teacher Education</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Usable knowledge and 21st Century  skills</p></div>
						</div>
					</li>
					<li class="item">
						<div class="list_inner">
							<div class="details">
								<p>Program and Instructional Design</p></div>
						</div>
					</li>
					

				</ul>
			</div>
			<div class="waxon_tm_button" data-position="center" style="margin-top: 2%;">  <!-- Position: left, center, right -->
				<a href="#">
					<span>Everything rises and falls on the family</span>
				</a>
			</div>
		</div>
	</div>
	
	<!-- /SERVICES -->
	
	<!-- PORTFOLIO -->
	<div class="waxon_tm_portoflio" id="portfolio">
		<div class="container">
			<div class="waxon_tm_main_title" style="margin-top: -15%;">
				<div class="title">
					<h3>My Work</h3>
				</div>
			</div>
			<div class="textbox" style="padding-top: 10%;">
				<p>John Maxwell is famous for the saying ‘Everything rises and falls on Leadership’. I agree totally and add to this that everything rises and falls on parenting and family life. 
					Everyone comes from a family, the family is the bedrock of the society, if we get things right at the home front then we have little left to do as society. 
					</p>
				<p>I started my career with Voluntary Service Overseas (VSO) as a Volunteer in Ikorodu and later became a Team Lead in Gwada community in Nigeria, In this role, I Created awareness
					 among parents and stake holders on the ills of child abuse and neglect, animation of  inclusive neighbourhood spaces created for children, equipped children with Knowledge on rights 
					 and responsibilities and carried out baseline surveys and action researches.</p>
			</div>
			<div class="portfolio_inner">
				<p>Over the last 5 years, I have been at the forefront of building the following organisations and key initiatives across Africa.</p>
				<ul class="gallery_zoom">
					<li class="vimeo">
						<div class="list_inner">
							<div class="image">
								<img src="https://wit21hub.com/wp-content/uploads/2021/04/wit21-Hub-Copy.png" alt="" style="height: 100px;"/>
								<div class="main" data-img-url="https://wit21hub.com/wp-content/uploads/2021/04/wit21-Hub-Copy.png"></div>
								<a class="full_link popup-vimeo" href="https://wit21hub.com/"></a>
							</div>
							<div class="title">
								<h3><a href="https://wit21hub.com/">Wit21 Hub</a></h3>
							</div>
						</div>
					</li>
					<li class="youtube">
						<div class="list_inner">
							<div class="image">
								<img src="https://i.etsystatic.com/43192502/r/il/cd7100/5185043693/il_1140xN.5185043693_s4x3.jpg" alt="" style="height:150px " />
								<div class="main" data-img-url="https://yt3.googleusercontent.com/1aCdgEKzbJnuP-_zxARCfcddrFz-94dgpAt-RP9AK_c6yR6w908Td5Q3zB_IyHof77dyn4NJ4g=s160-c-k-c0x00ffffff-no-rj"></div>
								<a class="full_link popup-youtube" href="https://www.youtube.com/watch?v=-Nfeq2En-3A"></a>
							</div>
							<div class="title">
								<h3><a href="https://www.youtube.com/@ToddlerLearning360/videos">ToddlerLearning360</a></h3>
							</div>
						</div>
					</li>
					<li class="soundcloud">
						<div class="list_inner">
							<div class="image">
								<img src="https://img.rss.com/thegodwardteen/400/20231106_111156_07411442e5daa9c81a3e08651998eb0e.jpg" alt="" style="height: 150px;" />
								<div class="main" data-img-url="https://img.rss.com/thegodwardteen/400/20231106_111156_07411442e5daa9c81a3e08651998eb0e.jpg"></div>
								<a class="full_link soundcloude_link mfp-iframe audio" href="https://rss.com/podcasts/thegodwardteen/"></a>
							</div>
							<div class="title">
								<h3><a href="https://rss.com/podcasts/thegodwardteen/">The Godward Teen</a></h3>
							</div>
						</div>
					</li>
					<li class="modalbox">
						<div class="list_inner">
							<div class="image">
								<img src="{% static 'img/presentation/2.png' %}" alt="" style="height: 150px;" />
								<div class="main" data-img-url="{% static 'img/presentation/2.png' %}"></div>
								<a class="full_link soundcloude_link mfp-iframe audio" href= "https://www.instagram.com/thisjustbepodcast/p/C6zqRVnoLXO/?img_index=1"></a>
							</div>
							<div class="title">
								<h3><a href="https://www.instagram.com/thisjustbepodcast/p/C6zqRVnoLXO/?img_index=1">JustBe Podcast</a></h3>
							</div>
						</div>
						
						<!-- /Modalbox Info Start -->
						
					</li>
					<li class="modalbox">
						<div class="list_inner">
							<div class="image">
								<img src="https://midark.org/assets/img/hero-img.png" alt="" style="height: 150px;"/>
								<div class="main" data-img-url="https://midark.org/assets/img/hero-img.png"></div>
								<a class="full_link popup-youtube" href="https://midark.org/"></a>
							</div>
							<div class="title">
								<h3><a href="https://midark.org/">Midark Rwanda</a></h3>
							</div>
						</div>
						
					</li>
					<!-- <li class="youtube">
						<div class="list_inner">
							<div class="image">
								<img src="https://www.penboutique.com/cdn/shop/articles/Things_to_Consider_When_Buying_a_Calligraphy_Pen.jpg?v=1615777978" alt="" style="height: 150px;"/>
								<div class="main" data-img-url="https://www.penboutique.com/cdn/shop/articles/Things_to_Consider_When_Buying_a_Calligraphy_Pen.jpg?v=1615777978"></div>
								<a class="full_link popup-youtube" href="#blog"></a>
							</div>
							<div class="title">
								<h3><a href="#blog">Reddi-Raita</a></h3>
							</div>
						</div>
					</li> -->

					<li class="vimeo">
						<div class="list_inner">
							<div class="image">
								<img src="https://www.penboutique.com/cdn/shop/articles/Things_to_Consider_When_Buying_a_Calligraphy_Pen.jpg?v=1615777978" alt="" style="height: 150px;"/>
								<div class="main" data-img-url="https://www.penboutique.com/cdn/shop/articles/Things_to_Consider_When_Buying_a_Calligraphy_Pen.jpg?v=1615777978"></div>
								<a class="full_link popup-vimeo" href="#blog"></a>
							</div>
							<div class="title">
								<h3><a href="#blog">Wit21 Hub</a></h3>
							</div>
						</div>
					</li>



				</ul>
			</div>
		</div>
	</div>	<!-- /PORTFOLIO -->



	<!-- PUBLICATIONS -->
	<div class="waxon_tm_portoflio" id="publications">
		<div class="container">
			<div class="waxon_tm_main_title" style="margin-top: -15%;">
				<div class="title">
					<h3>My Publications</h3>
				</div>
			</div>
			<div class="textbox" style="padding-top: 10%;">
				<h3>Research Articles</h3>
				<p>
					<ol>
						<li><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/cch.12975">Silent screams: Listening to and making meaning from the voices of abused children</a></li>
					</ol>
				</p>
			</div>

			<div class="textbox">
				<h3>Books</h3>
				<h5 style="padding-top: 2%;font-style: italic;font-weight: bold;">Coming Soon!!</h5>
				<h6 style="padding-top:1%;">Be on the lookout for my latest  book: A Teen’s search for meaning.</h6>
				<p><strong>A Teen's Search for Meaning </strong> is an essential guide for teenagers seeking to uncover their life's purpose and navigate the challenges of adolescence with intention and clarity. This insightful book empowers teens to avoid the pitfalls of frivolity by offering practical advice on developing a strong vision, crafting a meaningful life mission, and choosing friends who uplift and support their journey. Through real-life examples, engaging exercises, and thought-provoking reflections, Alice provides teens with the tools they need to save time, make informed choices, and embark on a path of self-discovery and fulfilment. "A Teen's Search for Meaning" is a must-read for any young person determined to maximize their potential and lead a purposeful life.
				</p>
			</div>
				<div></div>
			</div>
		</div>
	</div>
	<!-- /PUBLICATIONS -->
	
	<!-- AWARDS -->
	<div class="waxon_tm_testimonials" id="awards">
		<div class="container">
			<div class="waxon_tm_main_title"style="margin-top: -15%;">
				<div class="title">
					<h3>Awards</h3>
				</div>
			</div>
			<div class="testimonials_inner">
				<div class="item">
					<div class="text">
						<p> <a href="https://joshualeadership.org/">Joshua Leadership Project Award for Innovation and Social Impact </a></p>
					</div>
				</div>
				<div class="item">
					<div class="text">
						<p>DOVEF and Guardian Newspaper Award for efforts in empowering the Nigerian Child.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /AWARDS -->
	
	<!-- BLOG -->
	<div class="waxon_tm_news" id="blog">
		<div class="container">
			<div class="waxon_tm_main_title"style="margin-top: -15%;">
				<div class="title">
					<h3 style="padding-top: -50%;">Blog</h3>
				</div>
			</div>
			<div class="news_inner">
				<div style="padding-bottom: 5%;font-weight: bold;">I share my heart through my poems here.  Feel free to stop by here. </div>
				<div class="container">
					{% for post in posts %}
					<div class="col-md-4">
						<div>
							<a href="{% url 'blog_detail' post.pk %}"></a>
							<div class="text mt-3 float-right d-block">
								<div>
									<p>
										<span class="mr-2">{{ post.created_at|date:"F d, Y" }}</span>
										<a href="#" class="mr-2">{{ post.author }}</a>
										<!-- You can add comment count logic here if needed -->
									</p>
								</div>
								<h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
								<p>{{ post.content|truncatewords:20 }}</p>
								<img src="{{ post.image.url }}" alt="{{ post.title }}">
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- /BLOG -->
	
	<!-- CONTACT -->
	<div class="waxon_tm_contact" id="contact">
		<div class="bg_image"></div>
		<div class="container">
			<div class="contact_inner">
				<div class="waxon_tm_main_title" style="margin-top: -15%;">
					<div class="title">
						<h3>Get in Touch</h3>
					</div>
				</div>
				<div class="desc">
					<p>Do you want us to collaborate on an upcoming project, panel discussion, podcast, delivery of keynote speech, or facilitating workshops within my areas of interest, feel free to get in touch.</p>
				</div>
				<div class="wrapper">
					<div class="left wow fadeInLeft" data-wow-duration="0.8s">
						<div class="fields">
							<form method="post" class="contact_form" id="contact_form" autocomplete="off">
								{% csrf_token %}
								<div class="returnmessage">{% if messages %}
									<ul class="messages">
										{% for message in messages %}
											<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
										{% endfor %}
									</ul>
								{% endif %}</div>
								<div class="empty_notice"><span>Please Fill Required Fields</span></div>
								<div class="first">
									
									<ul>
										<li>
											<div class="col-md-6">
												<div class="form-control">{{ form.full_name }}</div>
												{% if form.full_name.errors %}
												<div class="alert alert-danger">
													{{ form.full_name.errors }}
												</div> 
									 			{% endif %} 
											</div>
										</li>
										<li>
											<div class="col-md-6">
												<div class="form-control">{{ form.organisation }}</div>
												{% if form.organisation.errors %}
													<div class="alert alert-danger">
														{{ form.organisation.errors }}
													</div> 
												{% endif %} 
											</div>
										</li>
										<li>
											<div class="col-md-6">
												<div class="form-control">{{ form.email }}</div>
												{% if form.email.errors %}
													<div class="alert alert-danger">
														{{ form.email.errors }}
													</div> 
												{% endif %} 
									 
											</div>
										</li>
										<li>
											<div class="col-md-6">
												<div class="form-control"> {{ form.phone }} </div>
												{% if form.phone.errors %}
													<div class="alert alert-danger">
														{{ form.phone.errors }}
													</div> 
												{% endif %} 
											</div>
										</li>
										<li>
											<div class="col-md-6">
												<div class="form-control"> {{ form.subject }} </div>
												{% if form.subject.errors %}
													<div class="alert alert-danger">
														{{ form.subject.errors }}
													</div> 
												{% endif %} 
											</div>
										</li>
									</ul>
								</div>
								<div class="last">
									{{ form.message }}
									{% if form.message.errors %}
										<div class="alert alert-danger">
											{{ form.message.errors }}
										</div> 
									 {% endif %} 
								</div>
								<div class="waxon_tm_button" data-position="center">
									<div class="col-md-12">
										<div class="form-group">
											<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
										</div>
									</div>
								</div>
								
								
								
							</form>
						</div>
					</div>
					<div class="right wow fadeInRight" data-wow-duration="0.8s">
						<div class="waxon_tm_map">
							<p>Whatsapp: +250 730 443 857</p>
							<p>Email: alicoakor@gmail.com</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<!-- /CONTACT -->
	
	<!-- COPYRIGHT -->
	<div class="waxon_tm_copyright">
		<div class="container" style="text-align: center;">
			<p>Copyright,&copy; JacksonandAlice.com All rights Reserved</p>
			<!-- <div class="copyright_inner">
				<ul>
					<li class="wow fadeInDown" data-wow-duration="0.8s">
						<span>WAXON</span>
						<span>PORTFOLIO TEMPLATE</span>
					</li>
					<li class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.2s">
						<span>Brook 103,</span>
						<span>90021 New York, USA</span>
					</li>
					<li class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.4s">
						<span><a href="#"><span class="__cf_email__" data-cfemail="375f5e7740564f58591954585a">test@gmail.com</span></a></span>
						<span>+77 033 442 55 57</span>
					</li>
					<li class="wow fadeInDown" data-wow-duration="0.8s" data-wow-delay="0.6s">
						<div class="social">
							<ul>
								<li>
									<a href="#">
										<span class="first"><img class="svg" src="img/svg/social/facebook.svg" alt="" /></span>
										<span class="second"><img class="svg" src="img/svg/social/facebook.svg" alt="" /></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="first"><img class="svg" src="img/svg/social/twitter.svg" alt="" /></span>
										<span class="second"><img class="svg" src="img/svg/social/twitter.svg" alt="" /></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="first"><img class="svg" src="img/svg/social/instagram.svg" alt="" /></span>
										<span class="second"><img class="svg" src="img/svg/social/instagram.svg" alt="" /></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="first"><img class="svg" src="img/svg/social/soundcloud.svg" alt="" /></span>
										<span class="second"><img class="svg" src="img/svg/social/soundcloud.svg" alt="" /></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="first"><img class="svg" src="img/svg/social/youtube.svg" alt="" /></span>
										<span class="second"><img class="svg" src="img/svg/social/youtube.svg" alt="" /></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="first"><img class="svg" src="img/svg/social/vk.svg" alt="" /></span>
										<span class="second"><img class="svg" src="img/svg/social/vk.svg" alt="" /></span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
	<!-- /COPYRIGHT -->
	
	<!-- MAGIC CURSOR -->
	<!-- <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div> -->
	<!-- /MAGIC CURSOR -->
	
		
</div>
<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js' %}"></script>
<script data-cfasync="false" src=" {% static '/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src=" {% static 'js/plugins.js' %}"></script>	
<script src=" {% static 'js/init.js' %}"></script>
<!-- /SCRIPTS -->

</body>
</html>